// Place all the styles related to the Outings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mdb";

.outing-details-card {
  padding: 0.5em !important;
  padding-bottom: 0.5em !important;
}

#outingHeader {
  z-index: 1;
}

#scrollToTopBtn {
  @extend .stylish-color;
  display: none;
  position: fixed;
  bottom: 5em;
  right: 3%;
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid white;
  outline: none; /* Remove outline */
  color: white;
  cursor: pointer;
  font-size: 18px;
  //padding: 15px;
  //border-radius: 10px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

div.tab-pane {
  padding-top: 1em;
}

ul.outing-nav > li.nav-item > a.nav-link {
  color: white;
}

table.outing-day-table th {
  font-weight: bold;
}

.eagle {
  background: black;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}

.birdie {
  @extend .eagle;
  background: white;
  border: solid black 1px;
  color: black;
  margin-top: -1em;
}

.par {
  text-decoration: underline;
}

.bogey {
  border: 1px solid;
  padding: 3px 5px 3px 5px;
}

.double-bogey {
  @extend .bogey;
  outline: 1px solid;
  outline-offset: 2px;
}

.table {
  margin-bottom: 0 !important;
}
