<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8">
    <div class="card">
      <%= image_tag "maintenance_website.jpg", style: "border-radius: .25rem .25rem 0 0; max-height: 60%; max-width: 100%;" %>
      <div class="container">
        <div class="card-body">
          <h5 class="text-center">
            We are working to improve your experience and will be back shortly!
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
