<% if !object.nil? && object.errors.any? %>
  <div>
    <div class="alert alert-danger">
      <i class="fas fa-exclamation-circle pr-1"></i>
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
