<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: "Arial", Sans-Serif, serif;
      }
    </style>
  </head>

  <body>
    <h1>Golf Hacker Club</h1>

    <%= image_tag("https://lh3.googleusercontent.com/3P7wEAMLscLX93KiaB1B0KVo2Iw1SR4geVd9TDi7cQiDobRr38gtincTbT6YDeuawX_zs2zDu2PrmUPuREZVB2GaREuRveKZHI_q6fbDEL70rJMUsOvmiFUOkMaKARWJX-Ai8IMaxiAntNDvGetQccYzq0_EeGif9D88yOuSdqUWI8KJzmqUTpN5NxsExgs3rQIfm7B08XZsoQ7babFrB4bDbEI3Ker7hMqsFq-R-JjO3gPmYYYHyMlalQmjCi4DF66QvPsccyDKcxt3Ybl5jHb6PHsjNj-akD3mZm7iD_KyQHnCYW51L7HgXZPqFAhVpD1nWAJ4Z2n2YNFKVQeilQ8gIderFUuQsMbTSB2s9i5pVYg5ZNwl_maP9jghnPcY4An2het7xPoeqb4ofPq-o5u1EtJMHqxn1bllyhhOz4E9ORPFbWn1r6yd3Es4OyPUZ5BRL_g0ajxCdDwRVvAkAG9lNJrfoYtz8N89G1rjBOEZX4_eRWaXRoLvd11ob94iH83H0pAcGm6As7D6UanOrPRVCZH0oDTxMs6Z_Q3229f9zhWbksX01yg9mEU5ASnflFvhpn5kWsuETlrESyx2H3559XEcPBaF8GCckbMei894QVkx07zLDDX0jWZRi_hATMQT7zNJZgQia_sAQFZ-74lSbyFl4Ycb=s800", size: "40", style: "padding-right: 6em;") %>
    <%= image_tag("https://lh3.googleusercontent.com/GlZQGCVoM0FV8e88elEONJvoynPcY1I8iJFSTwLnLSG67zQo3wzoLSFnsv-pEEAp1QBEf4GGAv8DQoAQLtOfwdYPhQDcFmWOhmCZAwVV_zvedJoBrkvKqpD-AXOBk6p7cZAgAgMzSCSVQV0shInQnZ6xOAEr4kVMZB_M602gEt-qtLmd_h9XF-yAlyLgd3_8kdZ8WUKWcMBY-78YkFpTp-oLQ9-ek-U2LD87QVgMRpUgVy_WfpG2-kNU_7WwtjfjdOQALQRf7MSuCHeGczggYbYpKN3lTaEWSZC0d_xlE1xcrTvYCUxCtycdt8oAR1L-fKI-Z05Ml3UE6poNMdyWUirlSTPGrV9lXh-lzhuRpGKfv1DFQaYlGzS3dUqS5QK-RnxLxmfJRjf1rqa7I6F_Bu7lRxObjl370sGKCMxmpBe8B7qJTT9KJJgkREFfasrC-ytvV6MT69yQqTi3Dl3pxjXDACybCBsaDpupCre2or8N5pSzsOyWpFJZvNzpMitDQDmMrnOSNwgUXty2kSZcG1fZXuCH4sKetjITzDqKCemPUEaFQzS4_uAW3ekPolgQLWRsWEYDHFraHwLm7gtiseY3P5BSpt16Wm7ec5ovZ9nr6ko1vmvGCmrDCumIDcIIeh37R5mFayBED8ipWyMfrBCh8In2_NxY=s512-no", size: "40", style: "padding-left: 6em;") %>

    <%= yield %>

    <br/>

    <div>
      © <%= "#{Date.today.year}" %> Golf Hacker Club
    </div>
  </body>
</html>
